/* ----------Font link part start----------- */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* ----------Font link part end----------- */

/* ----------Common css part start----------- */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
}

img{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

:root{
    --ubuntu: "Ubuntu", sans-serif;
    --primary-color: #42454A;
}

.common-head{
    text-align: center;
}

.common-head h2{
    font-size: 50px;
    font-weight: 700;
    font-family: var(--ubuntu);
    color: var(--primary-color);
}

.common-head p{
    font-size: 20px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--primary-color);
    margin-top: 34px;
}
/* ----------Common css part end----------- */


/* ----------Navbar part start----------- */

.main-menu{
    border-bottom: 1px solid #42454A;
    padding-top: 27px;
    padding-bottom: 25px;
}
.main-menu img{
    width: 70px;
}

.main-menu ul{
    gap: 77px;
}

.main-menu ul li a{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--primary-color) !important;
}

.main-menu .nav-buttons a:nth-child(1){
    margin-right: 20px;
    background-color: #fff;
    color: var(--primary-color);
}

.main-menu .nav-buttons a:nth-child(1):hover{
    background-color: var(--primary-color);
    color: #fff;
}

.main-menu .nav-buttons a:nth-child(2){
    background-color: var(--primary-color);
    color: #fff;
}

.main-menu .nav-buttons a:nth-child(2):hover{
    background-color: #fff;
    color: var(--primary-color);
}

.main-menu .nav-buttons a{
    padding: 16px 26px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--ubuntu);
}


/* ----------Navbar part end----------- */


/* ----------Banner part start----------- */

#banner{
    padding-top: 84px;
    position: relative;
}

.banner-text h3{
    max-width: 586px;
    font-size: 90px;
    font-weight: 300;
    font-family: var(--ubuntu);
    color: var(--primary-color);
    text-transform: uppercase;
}



.banner-text h1 {
    max-width: 586px;
    color: var(--primary-color);
    background: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 90px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    animation: type 1.5s steps(90) 1.5s 1 normal both, cursor 1s step-end infinite;
    position: relative;
    text-transform: uppercase;
}

.banner-text .line{
    max-width: 335px;
    height: 4px;
    background-color: var(--primary-color);
    margin-top: 93px;
    margin-bottom: 62px;
}

.banner-text p{
    max-width: 353px;
    font-size: 22px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--primary-color);
    margin-bottom: 44px;
}


/* From Uiverse.io by cssbuttons-io */ 
.b1 button {
    position: relative;
    display: inline-block;
    outline: none;
    border: 0;
    vertical-align: middle;
    background: transparent;
    padding: 0;
    font-size: 15px;
    font-family: var(--ubuntu);
}

button.learn-more {
    width: 161px;
    height: 58px;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 58px;
    height: 58px;
    background: #42454A;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;   
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 35px;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

.b2 p{
    max-width: 87px;
    font-weight: 400;
    font-size: 18px;
    font-family: var(--ubuntu);
    color: var(--primary-color);
}

.b3{
    position: relative;
}

.b3 img{
    max-width: 80px;
    animation: ghur 4s linear infinite;
}

.b3 i{
    position: absolute;
    top: 43%;
    left: 47%;
    font-size: 9px;
    color: var(--primary-color);
}

.all-b{
    display: flex;
    max-width: 429px;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.banner-img{
    max-width: 855px;
    position: absolute;
    top: 31px;
    right: 0;
}



/* ----------Banner part end----------- */


/* ----------counter part start----------- */

#counter{
    padding-top: 209px;
}

.counter-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sin-counter{
    width: 174px;
    height: 137px;
    border: 1px solid #f4f4f4;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.sin-counter h2{
    font-size: 18px;
    font-weight: 700;
    font-family: var(--ubuntu);
    color: var(--primary-color);
}

.sin-counter span{
    font-size: 40px;
}

.sin-counter p{
    font-size: 13px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--primary-color);
}
/* ----------counter part end----------- */


/* ----------accessories part start----------- */

#product{
    padding-top: 127px;
}

.pro-row{
    padding-top: 140px;
}

.aimg image{
    width: 748px;
}

.check{
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 44px;
    padding-left: 177px;
}

.check .icon{
    width: 49px;
}

.check .text{
    font-size: 20px;
    font-weight: 400;
    font-family: var(--ubuntu);
    color: var(--primary-color);
}
/* ----------accessories part end----------- */


/* ----------motor part start----------- */

#motor{
    padding-top: 248px;
}

.efficiency{
    width: 1335px;
    margin-top: 49px;
}
/* ----------motor part end----------- */


/* ----------Font link part start----------- */
/* ----------Font link part end----------- */


/* ----------Font link part start----------- */
/* ----------Font link part end----------- */


/* ----------Font link part start----------- */
/* ----------Font link part end----------- */


/* ----------Font link part start----------- */
/* ----------Font link part end----------- */


/* ----------Font link part start----------- */
/* ----------Font link part end----------- */


/* ----------Font link part start----------- */
/* ----------Font link part end----------- */


/* ----------Font link part start----------- */
/* ----------Font link part end----------- */


/* ----------Font link part start----------- */
/* ----------Font link part end----------- */


/* ----------Font link part start----------- */
/* ----------Font link part end----------- */



